@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;

}
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 90px;
    text-align: center;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte2);

}

nav > a {
   color: white;
   text-decoration: none;
   font-weight: bolder;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 3em;
    font-family: var(--fonte3);
    font-size: 2.5vh;
}

section.normal {
   background-color: rgb(200, 213, 226);
   color: black;
}
 
section.verso1 {   
    color: rgb(255, 255, 255);
    background-image: url(imagens/background001.jpg);
    background-color: rgba(38, 0, 252, 0.253);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section.verso1 > p, section.verso2 > p {
    background-color: rgba(0, 0, 0, 0.39);
    width: 400px;
    transform: translate(0% 20%);
    
}

section.verso2 {
    color: rgb(255, 255, 255);
    background-image: url(imagens/background002.jpg);
    background-color: blue;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;   
}

section.verso1, section.verso2 {
    box-shadow: inset 6px 6px 10px 0px black;
}

footer {
    text-align: center;
    background-color: teal;
    padding: 5px;
}