@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
 color: rgb(243, 243, 243);

}

h1{
    color: rgb(107, 94, 38);
}

h1#principal{
    text-align: center;
    background-color: rgb(156, 231, 213);
}

h2{
    color: rgb(117, 129, 7);
}

.basico{
    color:rgba(255, 136, 0, 0.781) ;
}

.intermediario{
    color: rgba(21, 255, 0, 0.767);
}

.avancado{
    color: rgb(93, 179, 82);
}

